@import "compass/css3";

* {
    padding: 0;
    margin: 0;
}

body {
    width: 90%;
}

.row {
    padding: 40px 0 40px 0;
    text-align: center;
    
}
header {
    text-align: center;
    padding-top: 30px; 
}

main {
    margin: 20px;
}

.logo {
    width: 40%;
}

#search-form {
    display: inline-block;
    width: 40%;
}
.form-container {
    display: block;
    position: relative;
}

#query {
    border-radius: 3px;
    border: none;
    padding: 15px;
    width: 80%;
    background-color: #eee;
}
.search-button {
    position: absolute;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    width: 36px;
    height: 40px;
    background-color: #fff;
    border: none;
    margin-left: 5px;
}

.videos {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.col-3 {
    width: 32%;
    /* flex-direction: row; */
    padding: 5px;
    margin-top: 10px;

}

@media only screen and (max-width: 600px) {

    .logo {
        width: 100%;
    }
}



